/*<!--top seation start-->*/
.hm{
    background: url(../img/homepage.png);
    width: 100%;
    background-size: cover;
    background-color: black;
}
.bg{
    background-color: #79615461;
}
.logo{
    margin-top:80px;
}
.one nav ul{
   list-style-position: none;
   color: #fff;
   margin-top: 105px; 
}
 .one nav ul li{
   display: inline;
   margin: 0 60px; 
}
.one nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.text{
    color: #fff;
    }
.text h3{
    background-color: #3637356e;
    padding: 10px 40px;
    margin-top: 146px;
}
.text p{
    margin-top: 33px;
    line-height: 20px;
}
.underlinetwo{
    display: block;
    width: 20px;
    border-bottom: 2px solid #fff;
    margin-top: 80px;  
    color: #fff;
}
.btu{
    margin-top: 40px;
    padding: 20px 103px;
    background: #74757200;
    margin-bottom: 208px;
    color: #fff;
    border-radius: 5px;
}
/*<!--top seation end-->*/

/*<!--car seation start-->
*/
.car{
    background-color:#f6f6f6d4;
}
.three{
    width: 600px;
}
.three h1{
    margin-top: 170px;
    font-size: 38px;
}
.underlineone{
    display: block;
    width: 20px;
    border-bottom: 2px solid black;
    margin-top: 40px;  
    color: #fff;
}
.three p{
    margin-top: 50px;
    margin-bottom: 70px;
}
.image{
    position: relative;
}
.image-one{
    position: absolute;
    top: 17%;
    right: -297px;
}
.image-two{
    left: 6%;
    position: absolute;
    top: 26%;
    margin-left: 93px;
}
.image-two img{
    margin-left: 68px;
    margin-top: 10px;
    width: 110%;
}
/*<!--car seation end-->*/

 <!--next car section start-->*/
 .cart{
    background-color: #28282E;
 }
 .five{
    width: 600px;
 }
 .five h1{
    color: #fff;
    margin-top: 133px;
 }
 .underlinethree{
    display: block;
    width: 20px;
    border-bottom: 2px solid #fff;
    margin-top: 30px;  
    color: #28282E;
}
.five p{
    color: #fff;
    width: 600px;
    margin-top: 60px;
}
.btm{
    background-color: #28282E;
    margin-top: 76px;
    padding: 23px 31px;
    margin-bottom: 144px;
    color: #fff;
    border-radius: 5px;
}
.six img{
    margin-top: 245px;
}
/*<!--next car section end-->*/

/*<!--footer part start-->*/
footer{
    background-color: #F23E2C;
}
footer p{
    margin-top: 45px;
    color: #fff;
    margin-bottom: 52px;
}
/*<!--footer part end-->*//*

!--media queary-->*/
@media (min-width: 320px) and (max-width:500px){
.hm{
    background: url(../img/homepage.png);
    width: 100%;
}
.logo{
   margin-top: 40px;
   margin-left: 30px;
}
.one nav ul{
  margin-top: 50px;
}
.one ul{
    width: 450px;
}
 .one nav ul li{
   display: inline;
   margin: 0 30px; 
}
.one nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.text h3{
    padding: 10px 100px;
    margin-top: 80px;
}
.text p{
    margin-top: 50px;
    line-height: 22px;
    width: 331px;
    margin-left: 33px;
}
.underlinetwo{
    display: block;
    width: 40px;
    border-bottom: 2px solid #fff;
    margin-top: 70px;
    margin-left: 40px;
}
.btu{
    margin-top: 55px;
    padding: 14px 30px;
    margin-bottom: 140px;
    border-radius: 12px;
    margin-left: 35px;
}
.btu:hover{
    margin-top: 55px;
    background-color:#1a5f7b;
    border-color: #ffffff;
    color:#383838;
}
.three h1{
    margin-top: 100px;
    font-size: 28px;
    margin-left: 20px;
}
.underlineone{
    display: block;
    width: 40px;   
    margin-top: 45px;
    margin-left: 20px;
}
.three p{
    margin-top: 45px;
    margin-left: 20px;
    margin-bottom: 200px;
    width: 364px;
}
.image{
    position: relative;
}
.image-one {
    position: absolute;
    margin-top: -140px;
    right: 162px;
}
.image-two{
    position: absolute;
    margin-top: -146px;
    margin-left: 155px;
}
.image-one img{
    height: 186px;
    width: 347px;
}
.image-two img{
    margin-left: -67px;
    margin-top: 55px;
    width: 100%; 
}
.cart{
    background-color: #56000c;
 }
 .five h1{
    margin-top: 110px;
    margin-left: 25px;
    font-size: 32px;
 }
.underlinethree{
    display: block;
    width: 30px;
    margin-top: 34px;
    margin-left: 25px;  
}
.five p{
    width: 428px;
    margin-top: 60px;
    margin-left: 25px;
}
.btm{
    background-color: #28282e00;
    margin-top: 55px;
    padding: 14px 20px;
    border-radius: 12px;
    margin-bottom: 0px;
    margin-left: 25px;
}
.six img{
        margin-top: 160px;
    width: 98%;
    margin-left: 8px;
    margin-bottom: -16px;
}
footer p{
    margin-top: 34px;
    margin-bottom: 35px;
    margin-left: 25px;
}
}
